<footer class="footer-part-3 py-5 footer-part" id="contactus">
    <div class="container">
        <div class="row my-5 justify-content-between">
            <div class="col-lg-4 align-self-start">
                <div class="footer-about">
                    <div class="logo">
                        <a class="navbar-caption fs-4 text-light ls-1 fw-bold" href="javascript:void(0);"><i
                                class="ri-robot-2-fill text-danger fs-3 me-1"></i>Craft<b class="text-danger">AI</b>
                        </a>
                    </div>
                    <div class="d-flex mt-4">
                        <i class="ri-twitter-fill fs-5 me-3 text-danger"></i>
                        <p class="text-white-50">Greater pleasures el
                            esndures pains avoid welcomed avoided pariatu.
                        </p>
                    </div>
                    <h5 class="text-white mt-3">Subscribe to our Site :
                    </h5>
                    <div class="form-button mt-4">
                        <form action="" class="d-flex align-items-center ">
                            <input type="email" class="form-control" placeholder="Enter email">
                            <a href="javascript:void(0);" class="me-2"><i class="ri-send-plane-2-line"></i></a>
                        </form>
                    </div>
                    <div class="copy-info text-white-50 mt-4">
                        ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script> CraftAI - Created By <a href="#"
                            class="text-white text-decoration-underline">Pixel Univerce
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-12">
                <h5 class="text-light">Company : </h5>
                <ul class="list-unstyled mt-4">
                    <li><a href="javascript:void(0);" class="text-white-50">Company
                            Profile</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">Help Center</a>
                    </li>
                    <li><a href="javascript:void(0);" class="text-white-50">Services</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">Plans &
                            Pricing</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">Team Members </a>
                    </li>
                    <li><a href="javascript:void(0);" class="text-white-50">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-12">
                <h5 class="text-light fs-5">Community :</h5>
                <ul class="list-unstyled mt-4">
                    <li><a href="javascript:void(0);" class="text-white-50">Career</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">Leadership</a>
                    </li>
                    <li><a href="javascript:void(0);" class="text-white-50">Press & Media</a>
                    </li>
                    <li><a href="javascript:void(0);" class="text-white-50">
                            Projects</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">Marketing
                            Services
                        </a>
                    </li>
                    <li><a href="javascript:void(0);" class="text-white-50">Challenge Of
                            Project
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-12">
                <h5 class="text-light fs-5">Solution :</h5>
                <ul class="list-unstyled mt-4">
                    <li><a href="javascript:void(0);" class="text-white-50">Small Business</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">Ebook Library</a>
                    </li>
                    <li><a href="javascript:void(0);" class="text-white-50">Free Theme</a>
                    </li>
                    <li><a href="javascript:void(0);" class="text-white-50">
                            Affiliates</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">
                            Testimonial
                        </a>
                    </li>
                    <li><a href="javascript:void(0);" class="text-white-50">
                            Themes
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>