<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="myModal">
  <div id="myModal13" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>UI 미리보기</h2>
      <div class="container-modal">
        <div class="left">
          <!-- 미리보기 위치 조정(임시) -->
          <div class="tiop">
            <!-- UI 미리보기 예시 -->
            <button id="btn03" style="background-color: #1a1d20">
              GLITCH
            </button>
          </div>
        </div>
        <div class="right">
          <div class="button-container">
            <!-- info~ 바꾸기 -->
            <button onclick="showContent('info25')" style="background-color:#FF2424;">HTML</button>
            <button onclick="showContent('info26')">CSS</button>
          </div>
          <!-- info~ 바꾸기 -->
          <div id="info25" class="content active">
            <h2 style="color:#FF2424">HTML Code</h2>
            <!-- pre id 숫자 증가시켜 -->
            <button class="copy-button" onclick="copyCode('htmlCode12')" style="background-color: #1a1d20">Copy HTML</button>
            <pre id="htmlCode12">

&lt;button&gt;
  GLITCH
&lt;/button&gt;

            </pre>
          </div>
          <!-- info~ 바꾸기 -->
          <div id="info26" class="content">
            <h2 style="color:#007bff;">CSS Code</h2>
            <!-- pre id 숫자 증가시켜 -->
            <button class="copy-button" onclick="copyCode('cssCode12')" style="background-color: #1a1d20">Copy CSS</button>
            <pre id="cssCode12">
button,button::after {
  padding: 10px 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  position: relative;
}

button::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: 'GLITCH';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

button:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

button:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
}

button:hover {
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px,-10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px,10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px,0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px,-10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px,10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px,-10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px,10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px,-10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}

                        </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
