<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="myModal">
    <div id="myModal34" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>UI 미리보기</h2>
            <div class="container-modal">
                <div class="left">
                    <!-- 미리보기 위치 조정(임시) -->
                    <div class="tiop">
                        <!-- UI 미리보기 예시 -->
                        <div class="card-q13">
                            <svg height="100%" width="100%" class="border-q13" xmlns="http://www.w3.org/2000/svg">
                                <line y2="0" x2="600" y1="0" x1="0" class="top-q13"></line>
                                <line y2="-960" x2="0" y1="320" x1="0" class="left-q13"></line>
                                <line y2="320" x2="-600" y1="320" x1="200" class="bottom-q13"></line>
                                <line y2="960" x2="200" y1="0" x1="200" class="right-q13"></line>
                            </svg>
                            <div class="logo-q13">
                                <svg class="logo-svg-q13" viewBox="0 0 29.667 31.69" xmlns="http://www.w3.org/2000/svg">
                                    <path transform="translate(0 0)" d="M12.827,1.628A1.561,1.561,0,0,1,14.31,0h2.964a1.561,1.561,0,0,1,1.483,1.628v11.9a9.252,9.252,0,0,1-2.432,6.852q-2.432,2.409-6.963,2.409T2.4,20.452Q0,18.094,0,13.669V1.628A1.561,1.561,0,0,1,1.483,0h2.98A1.561,1.561,0,0,1,5.947,1.628V13.191a5.635,5.635,0,0,0,.85,3.451,3.153,3.153,0,0,0,2.632,1.094,3.032,3.032,0,0,0,2.582-1.076,5.836,5.836,0,0,0,.816-3.486Z"></path>
                                    <path transform="translate(-45.91 0)" d="M75.207,20.857a1.561,1.561,0,0,1-1.483,1.628h-2.98a1.561,1.561,0,0,1-1.483-1.628V1.628A1.561,1.561,0,0,1,70.743,0h2.98a1.561,1.561,0,0,1,1.483,1.628Z"></path>
                                    <path transform="translate(0 -51.963)" d="M0,80.018A1.561,1.561,0,0,1,1.483,78.39h26.7a1.561,1.561,0,0,1,1.483,1.628v2.006a1.561,1.561,0,0,1-1.483,1.628H1.483A1.561,1.561,0,0,1,0,82.025Z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="button-container">
                        <!-- info~ 바꾸기 -->
                        <button onclick="showContent('info67')" style="background-color:#FF2424;">HTML</button>
                        <button onclick="showContent('info68')">CSS</button>
                    </div>
                    <!-- info~ 바꾸기 -->
                    <div id="info67" class="content active">
                        <h2 style="color:#FF2424">HTML Code</h2>
                        <!-- pre id 숫자 증가시켜 -->
                        <button class="copy-button" onclick="copyCode('htmlCode33')" style="background-color: #1a1d20">Copy HTML</button>
                        <pre id="htmlCode33">
&lt;div class="card"&gt;
  &lt;svg height="100%" width="100%" class="border" xmlns="http://www.w3.org/2000/svg"&gt;
    &lt;line y2="0" x2="600" y1="0" x1="0" class="top"&gt;&lt;/line&gt;
    &lt;line y2="-960" x2="0" y1="320" x1="0" class="left"&gt;&lt;/line&gt;
    &lt;line y2="320" x2="-600" y1="320" x1="200" class="bottom"&gt;&lt;/line&gt;
    &lt;line y2="960" x2="200" y1="0" x1="200" class="right"&gt;&lt;/line&gt;
  &lt;/svg&gt;
  &lt;div class="logo"&gt;
    &lt;svg class="logo-svg" viewBox="0 0 29.667 31.69" xmlns="http://www.w3.org/2000/svg"&gt;
      &lt;path transform="translate(0 0)" d="M12.827,1.628A1.561,1.561,0,0,1,14.31,0h2.964a1.561,1.561,0,0,1,1.483,1.628v11.9a9.252,9.252,0,0,1-2.432,6.852q-2.432,2.409-6.963,2.409T2.4,20.452Q0,18.094,0,13.669V1.628A1.561,1.561,0,0,1,1.483,0h2.98A1.561,1.561,0,0,1,5.947,1.628V13.191a5.635,5.635,0,0,0,.85,3.451,3.153,3.153,0,0,0,2.632,1.094,3.032,3.032,0,0,0,2.582-1.076,5.836,5.836,0,0,0,.816-3.486Z"&gt;&lt;/path&gt;
      &lt;path transform="translate(-45.91 0)" d="M75.207,20.857a1.561,1.561,0,0,1-1.483,1.628h-2.98a1.561,1.561,0,0,1-1.483-1.628V1.628A1.561,1.561,0,0,1,70.743,0h2.98a1.561,1.561,0,0,1,1.483,1.628Z"&gt;&lt;/path&gt;
      &lt;path transform="translate(0 -51.963)" d="M0,80.018A1.561,1.561,0,0,1,1.483,78.39h26.7a1.561,1.561,0,0,1,1.483,1.628v2.006a1.561,1.561,0,0,1-1.483,1.628H1.483A1.561,1.561,0,0,1,0,82.025Z"&gt;&lt;/path&gt;
    &lt;/svg&gt;
  &lt;/div&gt;
&lt;/div&gt;
            </pre>
                    </div>
                    <!-- info~ 바꾸기 -->
                    <div id="info68" class="content">
                        <h2 style="color:#007bff;">CSS Code</h2>
                        <!-- pre id 숫자 증가시켜 -->
                        <button class="copy-button" onclick="copyCode('cssCode33')" style="background-color: #1a1d20">Copy CSS</button>
                        <pre id="cssCode33">
.card {
    position: relative;
    display: flex;
    width: 200px;
    height: 320px;
    background: #C6C6D0;
    color: #212121;
    box-shadow: inset 0 0 0 4px #212121;
    transition: .6s 0.4s;
    cursor: pointer;
}

.border {
    position: absolute;
    inset: 0;
}

.border line {
    stroke-width: 4px;
    stroke: #C6C6D0;
    fill: none;
    transition: .6s ease-in-out;
}

.border line.top,
.border-q13 line.bottom-q13 {
    stroke-dasharray: 200;
}

.border line.left,
.border line.right {
    stroke-dasharray: 320;
}

.logo {
    width: 50%;
    margin: auto;
    fill: #212121;
    transition: .6s;
    opacity: 0.9;
}

.card:hover {
    background-color: transparent;
    transition-delay: 0s;
}

.card:hover .border line {
    transition-delay: 0.1s;
}

.card:hover .border line.top {
    transform: translateX(-400px);
}

.card:hover .border line.bottom {
    transform: translateX(400px);
}

.card:hover .border line.left {
    transform: translateY(640px);
}

.card:hover .border line.right {
    transform: translateY(-640px);
}

.card:hover .logo {
    transition-delay: 0s;
    transform: scale(1.1);
    fill: #C6C6D0;
    filter: drop-shadow( 0 0 30px #C6C6D080);
    opacity: 0.9;
}
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
