<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
</head>
<body>
<div th:fragment="chat">
    <button class="chatBtn" onclick="toggleChat()">
        <svg height="1.6em" fill="white" xml:space="preserve" viewBox="0 0 1000 1000" y="0px" x="0px" version="1.1">
                <path d="M881.1,720.5H434.7L173.3,941V720.5h-54.4C58.8,720.5,10,671.1,10,610.2v-441C10,108.4,58.8,59,118.9,59h762.2C941.2,59,990,108.4,990,169.3v441C990,671.1,941.2,720.5,881.1,720.5L881.1,720.5z M935.6,169.3c0-30.4-24.4-55.2-54.5-55.2H118.9c-30.1,0-54.5,24.7-54.5,55.2v441c0,30.4,24.4,55.1,54.5,55.1h54.4h54.4v110.3l163.3-110.2H500h381.1c30.1,0,54.5-24.7,54.5-55.1V169.3L935.6,169.3z M717.8,444.8c-30.1,0-54.4-24.7-54.4-55.1c0-30.4,24.3-55.2,54.4-55.2c30.1,0,54.5,24.7,54.5,55.2C772.2,420.2,747.8,444.8,717.8,444.8L717.8,444.8z M500,444.8c-30.1,0-54.4-24.7-54.4-55.1c0-30.4,24.3-55.2,54.4-55.2c30.1,0,54.4,24.7,54.4,55.2C554.4,420.2,530.1,444.8,500,444.8L500,444.8z M282.2,444.8c-30.1,0-54.5-24.7-54.5-55.1c0-30.4,24.4-55.2,54.5-55.2c30.1,0,54.4,24.7,54.4,55.2C336.7,420.2,312.3,444.8,282.2,444.8L282.2,444.8z"></path>
            </svg>
        <span class="tooltip">Chat</span>
    </button>

    <section>
        <div class="container chat-container" id="chatContainer">
            <div class="chat-header">
                DevHub 채팅방에 오신걸 환영합니다.
            </div>
            <div class="chat-messages" id="messages">
                <!-- Messages will be appended here -->
            </div>
            <div class="chat-footer">
                <div class="input-group">
                    <!-- 프로필 이미지 -->
                    <img id="profile" th:src="@{|/profile/${session.loginProfile}|}" alt="profile">
                    <!-- 사용자명 플레이스홀더 -->
                    <span id="user" style="display: none;" th:text="${session.loginId}"></span>
                    <!-- 메시지 입력 필드 -->
                    <input type="text" id="message" class="form-control" placeholder="메시지를 입력하세요">
                    <!-- 메시지 전송 버튼 -->
                    <div class="input-group-append">
                        <button onclick="sendMessage()" class="btn btn-primary">전송</button>
                    </div>
                    <!-- 이모티콘 선택기 -->
                    <div class="emoji-picker">
                        <button type="button" class="btn btn-secondary" onclick="toggleEmojiPanel()">😀</button>
                        <!-- 이모티콘 선택 팝업 -->
                        <div id="emojiPopup" class="emoji-popup">
                            <div id="emojiPopupContent" class="emoji-popup-content">
                                <!-- 각각의 이모티콘 -->
                                <img src="/images/emoticon/emoji1.png" onclick="addEmoji('😀')" alt="😀">
                                <img src="/images/emoticon/emoji2.png" onclick="addEmoji('😂')" alt="😂">
                                <img src="/images/emoticon/emoji3.png" onclick="addEmoji('👏')" alt="👏">
                                <img src="/images/emoticon/emoji4.png" onclick="addEmoji('❤️')" alt="❤️">
                                <img src="/images/emoticon/emoji5.png" onclick="addEmoji('👍')" alt="👍">
                                <img src="/images/emoticon/emoji6.png" onclick="addEmoji('🤔')" alt="🤔">
                                <img src="/images/emoticon/emoji7.png" onclick="addEmoji('😡')" alt="😡">
                                <img src="/images/emoticon/emoji8.png" onclick="addEmoji('👌')" alt="👌">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 프로필 모달 -->
    <div id="profileModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <img id="modalProfileImg" src="" alt="profile" class="modal-profile-img">
            <div class="modal-profile-info">
                <h2 id="modalProfileName" class="modal-profile-name"></h2>
                <p class="modal-profile-bio">강한 남자가 되고 싶다.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
