<footer class="footer-part-3 py-5 footer-part" id="contactus">
    <div class="container">
        <div class="row my-5 justify-content-between">
            <div class="col-lg-4 align-self-start">
                <div class="footer-about">
                    <div class="logo">
                        <a class="navbar-caption fs-4 text-light ls-1 fw-bold" href="javascript:void(0);"><i
                                class="ri-robot-2-fill text-danger fs-3 me-1"></i>Dev<b class="text-danger">Hub</b>
                        </a>
                    </div>
                    <div class="d-flex mt-4">
                        <i class="ri-twitter-fill fs-5 me-3 text-danger"></i>
                        <p class="text-white-50">더 큰 기쁨이 고통을 피하고 환영받지 않는 고통을 피합니다.
                        </p>
                    </div>
                    <h5 class="text-white mt-3">우리 사이트 구독하기 :
                    </h5>
                    <div class="form-button mt-4">
                        <form action="" class="d-flex align-items-center ">
                            <input type="email" class="form-control" placeholder="이메일 입력">
                            <a href="javascript:void(0);" class="me-2"><i class="ri-send-plane-2-line"></i></a>
                        </form>
                    </div>
                    <div class="copy-info text-white-50 mt-4">
                        ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script> DevHub - 제작자 <a href="#"
                                                   class="text-white text-decoration-underline"> 김보겸과 아이들
                    </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-12">
                <h5 class="text-light">회사 :</h5>
                <ul class="list-unstyled mt-4">
                    <li><a href="javascript:void(0);" class="text-white-50">회사 프로필</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">도움말 센터</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">서비스</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">계획 및 가격</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">팀 멤버</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">연락처</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-12">
                <h5 class="text-light fs-5">커뮤니티 :</h5>
                <ul class="list-unstyled mt-4">
                    <li><a href="javascript:void(0);" class="text-white-50">경력</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">리더십</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">언론 및 미디어</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">프로젝트</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">마케팅 서비스</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">프로젝트의 도전</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-12">
                <h5 class="text-light fs-5">솔루션 :</h5>
                <ul class="list-unstyled mt-4">
                    <li><a href="javascript:void(0);" class="text-white-50">소규모 비즈니스</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">전자책 도서관</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">무료 테마</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">제휴사</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">고객의 말</a></li>
                    <li><a href="javascript:void(0);" class="text-white-50">테마</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>